.hidden {
  display: none;
}

#modal_messages {
  display: block; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin: 5%;
  width: 80%;
  height: 85%;

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 30, 0); /* Black w/ opacity */
}

#modal_content {
  border-radius: 50px;
  background-color: lightblue;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  overflow: auto;
}





