.hidden {
  display: none;
}

#modal_messages {
  display: block; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin: 5%;
  width: 85%;
  height: 85%;

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 30, 0); /* Black w/ opacity */
}

#modal_content {
  border-radius: 50px;
  background-color: rgb(48, 91, 167);
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  overflow: auto;
}

.userTag {
  color:rgb(80, 7, 7);
  font-size: 2em;
}

.userMessage {
  color: goldenrod;
  font-size: 2em;
}

#greeting {
  text-align: center;
  color:maroon;
}

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVy_UlvjeJr4FLNMbfIBR2pv5BhPZriN9lhbBqLvYoZCiS4uaw_Q");
  /* position: relative; */
  /* background-repeat:  */
  /* background-size:100% 100vh; */
  /* background-color: lightblue; */

}

#login_register{
  text-align: center;
  margin-top: 20%;
}

#nav_wrap{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#nav_wrap section{
  cursor: pointer;
  font-size: 1.2em;
}

#nav_wrap section:hover {
  color:yellow;
}

#close {
  color: black;
  float: right;
  font-size: 2.5em;
  font-weight: bold;
  z-index: 3;
  position: sticky;
  top: 0;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.8em;
}



/* button:focus {
  background-color:rgb(231, 231, 19);
} */
button:focus {
  outline-style: none;
  background-color: yellow;
}
button {
  height: 5em;
  width: 5em;
  background-color: rgb(233, 167, 13);
  border-radius: 50px;
  font-size: 1em;
}

#buttonWrap {
  display:flex;
  justify-content: space-between;
}

#logoutButton {
  /* position:absolute;
  top:0;
  right:0; */
  font-size:2em;
  text-align: right;
}

#logoutButton:hover {
  cursor: pointer;
  color: yellow;
}

input:focus{
  color: white;
  background-color:gold;
}

input {
  font-size: 2em;
  height: 1.5em;  
}

.userTag:hover {
  cursor:pointer;
  color:White;
}


